* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 9fr;
    height: 100vh;
}


.sidebar {
    padding-left: 25px;
    padding-top: 25px;
    background-color: #1A92D4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: grid;
    grid-template-rows: 50px 300px 150px;
    gap: 50px;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 10px;
    padding-top: 15px;
}

.menu, .sub-menu, .logo {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.logo p {
    font-size: 20px;
}

.header .search-part input {
    height: 32px;
    border-radius: 25px;
    background-color: #E2E8F0;
    border: 0;
}

.search-part {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-self: center;
}

.search-part-left {
    padding-left: 25px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.search-part-right {
    display: grid;
    grid-template-columns: 50px 100px 140px;
    justify-self: end;
}

.search-part-right > *, .search-part-left > * {
    align-self: center;
}

.profile-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-part-left {
    padding-left: 25px;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.profile-text {
    align-self: center;
}

.profile-part-right {
    justify-self: end;
    align-self: center;
    padding-right: 30px;
}

button {
    background-color: #1A92D5;
    color: white;
    font-weight: 500;
    font-size: 16px;
    width: 96px;
    height: 36px;
    border: 0;
    border-radius: 25px;
    margin-left: 36px;
}

.project {
    height: 180px;
    width: 320px;
    background-color: white;
    border-left: 7px solid;
    border-radius: 5px;
    border-color: #F0B538;
    box-shadow: 1px 2px 6px;
    display: grid;
    grid-template-rows: 6fr 1fr;
    padding: 20px;
}

.icon-area {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px repeat(3, 250px);
    grid-column: 1 / 2;
    grid-row-start: 1;
}

.all-main {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #636363;
    font-weight: 600;
}

.side-info {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 40px 450px 50px 450px;
    padding-top: 15px;
}

.title {
    grid-column: 1 / 3;
    color: black;
    font-size: 18px;
    align-self: center;
}

.text-title {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.side-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 6px;
    height: 360px;
    width: 210px;
    padding: 20px;

    display: grid;
}

.line {
    border-top: 1px solid;
    border-color: #D2D2D2;
}
